body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.react-autosuggest__container {
  position: absolute;
  float: right;
}

.react-autosuggest__input {
  width: 240px !important;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa !important;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 3;
  margin-top: 26px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestions-list li{
  text-align: left;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 6px 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest-suggestion-match {
  color: #EF8D22;
  font-weight: bold;
  word-break: break-all;
}

.react-autosuggest__suggestions-list li{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.680436px;
  color: #979797;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  display: flex;
  background: transparent !important;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 2px;
}
.react-autosuggest__suggestions-list li:hover{
  color: #555555;
}

.react-autosuggest__suggestions-container--open{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #DADADA;
  position: relative;
  overflow-y: auto;
  height: 110px;
}